name: C Compilation Check

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build_server:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Compile server C code with GCC
      run:
        gcc src/main.c src/ts_queue.c src/client_manager.c src/worker.c src/pubsub.c src/auth.c src/tls.c src/enroll.c src/cli.c src/heartbeat.c src/db.c src/config.c src/tokenizer.c src/rbac.c src/hash.c -lpthread -lssl -lcrypto -lsqlite3


  build_agent:
    runs-on: ubuntu-latest

    steps:
    - name: Compile agent code with GCC
      run:
        gcc src/agent.c src/agent_config.c src/tokenizer.c -lssl -lcrypto -lpthread
